
@{
    ViewData["Title"] = "Manager Home";
}

<br />
<div class="w3-container">
    <h2 style="margin-bottom:-7px;"><strong>Manager Home</strong></h2>
    <br />
    <h4><a asp-controller="Manager" asp-action="Email">Click here</a> to send email to tenants</h4>
</div>