

@{
    ViewData["Title"] = "Home";
}


<style>
    .mySlides {
        display: none;
    }
</style>﻿

<br />
<div class="w3-container">
    <p style="text-align:right; word-spacing: 30px;">
        <strong><i style="padding-right: 4px;" class="fas fa-phone"></i>(614)555-5555</strong>

        <strong><i style="padding-right: 4px;" class="fas fa-fax"></i>(614)555-5555</strong>

        <strong><i style="padding-right: 4px;" class="fas fa-envelope-square"></i>leasing@TechElevatorPM.com </strong>
    </p>

    <div>
        <div class="super-container header-image" style="background:url(https://2k5n4bf88yx2mucb1jcw4u4q-wpengine.netdna-ssl.com/wp-content/uploads/sites/5525/2016/06/living-room-1.jpg) center center no-repeat; background-size: cover; border-bottom: solid 35px;">
            <div class="container" style="background-color:	rgba(245,245,245, .5); padding-bottom: 20px; padding-top: 20px;">
                <div>
                    <br>
                    <br>
                    <h1 class="home-headline-color" style="text-align: center;"><strong>Welcome Home</strong></h1>
                </div>
                <div>
                    <br>
                    <br>
                    <p class="home-greeting-color" style="text-align: center;  "><strong>Whether you want to find a place to live or need a rental filled, when you’re here, you're home.</strong> </p>
                </div>
                <div>
                    <br>
                    <br>
                    <div style="text-align:center;">
                        <p style="text-align: center; display:inline; background-color:white; border-radius: 5px; padding:5px;"><a asp-controller="Home" asp-action="Search"><i class="fas fa-home" style="padding-right: 4px;"></i>AVAILABLE RENTALS</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:rgb(232,232,232); display:flex; flex-direction:column; justify-content:center;">
            <div style="padding-top: 20px;">
                <h3 style="text-align:center;"><strong>For Residents</strong></h3>
                <br/>
            </div>
            <div style="display: flex; flex-direction:row; justify-content:space-around; padding-bottom: 20px;">
                <div>
                    <img src="~/images/pay-rent.png" alt="Pay Rent" style="width:175px; padding-bottom: 10px; border-radius:20px;" />
                    <h4 style="text-align: center;"><strong>Pay Rent</strong></h4>
                </div>
                <div>
                    <img src="~/images/maintenance.png" alt="Maintnenace Request" style="width:175px; padding-bottom: 10px; border-radius:20px;" />
                    <h4 style="text-align: center;"><strong>Maintenance Request</strong></h4>
                </div>
                <div>
                    <img src="~/images/login2.png" alt="Login" style="width:175px; border-radius:20px; padding-bottom: 10px;">
                    <h4 style="text-align: center;"><strong>Login</strong></h4>
                </div>
            </div>
        </div>
        <div style="padding:50px; padding-left: 150px; padding-right: 150px;">
            <h4><strong>Welcome</strong></h4>
            <p>
                Our site provides you with an online searchable database of all our current listings, as well as up to date information of events here at Tech Elevator Real Estate Property Management.
            </p>
            <br>
            <p>
                Tech Elevator Real Estate Property Management has earned an outstanding reputation for professional apartment management services and the largest selection of OSU campus-area apartments. That reputation has been earned by serving every resident with individual care: from a quick and easy leasing process to competitive lease rates to a convenient, campus area office.
            </p>
            <br>
            <p>
                Tech Elevator Real Estate Property Management has a huge array of apartment homes and a great selection of floor plans ranging from efficiencies to a 10-bedroom home. Our properties are located in a variety of central Ohio neighborhoods. So, whether you’re working hard at your education or career, Tech Elevator Real Estate Property Management has your next apartment home.
            </p>
        </div>
        <div style="padding:50px; padding-left: 150px; padding-right: 150px; background-color:rgb(232,232,232);">
            <h4>CONTACT US</h4>
            <br>
            <p>
                <strong><i style="padding-right: 4px;" class="fas fa-phone"></i>(614)555-5555</strong>
            </p>
            <p>
                <strong><i style="padding-right: 4px;" class="fas fa-fax"></i>(614)555-5555</strong>
            </p>
            <p>
                <strong><i style="padding-right: 4px;" class="fas fa-envelope-square"></i>leasing@TechElevatorPM.com </strong>
            </p>
            <p>
                <strong><i style="padding-right: 4px;" class="fas fa-home"></i>1275 Kinnear Rd #121, Columbus, OH 43212</strong>
            </p>
        </div>

    </div>
