@{
    ViewData["Title"] = "Tenant Home";
}

<br />
<div class="w3-container">
    <h2 style="margin-bottom:-7px;"><strong>Tenant Home</strong></h2>
    <br />
    <h4><a asp-controller="Tenant" asp-action="Submit">Click here</a> to submit a service request</h4>
    <h4><a asp-controller="Tenant" asp-action="Rent">Click here</a> to make a rent payment</h4>
</div>