@model Capstone.Models.Property

@{
    ViewData["Title"] = "Owner Home";
}

<br />
<div class="w3-container">
    <h2 style="margin-bottom:-7px;"><strong>Owner Home</strong></h2>
    <br />
    <h4><a asp-controller="Owner" asp-action="Property">Click here</a> to add a Property</h4>
    <h4><a asp-controller="Owner" asp-action="Unit">Click here</a> to add a Unit to an existing Property</h4>
    <h4><a asp-controller="Owner" asp-action="Review">Click here</a> to view submitted Applications</h4>
    <h4><a asp-controller="Owner" asp-action="Statistics">Click here</a> to view your properties</h4>
</div>